@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #f2f2f2;
	font-family: "Poppins", sans-serif;
}

h1 {
	margin: 20px auto;
}
.container {
	max-width: 500px;
	margin: 30px auto;
	min-height: 300px;
	padding: 30px;
	border-radius: 5px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.btn {
	display: block;
	margin: 40px auto 0;
	color: white;
	padding: 10px;
	border: 0;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn.hovering {
	transform: scale(1.5);
}
